@media (max-width: 1130px){

    .header-title{
        font-size: 30px;
        text-align: center;
    }
    .header{
        border-radius: 0 0 20px 20px;
    }
    .nav-list{
        display: none;
    }
    .nav__user{
        display: none;
    }
    .mobile-nav-btn{
        display: block;
    }
    .about-us__title {
        font-size: 26px;
        margin-top: 20px;
    }
    .about-us__text {
		font-size: 14px;
    }
    .about-us__img{
        margin-left: 20px;
    }
    .container1 {
        padding: 0 var(--container-padding);
        max-width: var(--container-width);
        margin: 0 auto;
      }
      .about-us__title_lector {
        font-size: 42px;
        font-weight: 600;
        text-align: right;
        margin-bottom: 30px;
      
      }
      .containerL .gallery {
        display: flex;
        flex-wrap: wrap; /* Добавляем wrap */
        gap: 20px;
        padding: 20px;
        overflow-x: auto;
        flex-shrink: 0;
        width: 100%;
      }
      .containerL .gallery {
        display: flex;
        flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
        gap: 20px;
        padding: 20px;
        overflow-x: auto;
        flex-shrink: 0;
        width: 100%;
      }
      .containerL .gallery {
        display: flex;
        flex-wrap: wrap; /* Разрешаем перенос на новую строку */
        gap: 20px;
        padding: 20px;
        overflow-x: auto;
        flex-shrink: 0;
        width: 100%;
        grid-template-columns: auto; /* Изменяем количество колонок на одну */
      }
      .about-us__title_lector{
        display: none;
      
      }
      .circle1{
        background:  #f3f3f3;
        border-radius: 50%;
        filter: blur(1em);
        
      }
      #sceneN{
        position: absolute;
        left: -29px;
        top: -300px;
      }
      #sceneN .circle1{
        width: 150px;
        height: 150px;
      
      
      }
      .video-js{
        width: 100%;
        height: 160px;
        }
        .about-us__img{
          display: none;
        }
        
      
}
@media (max-width: 1130px) {
  .containerL {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Изменяем размеры колонок для меньших экранов */
  }
}

@media (max-width: 820px) {
  .containerL {
    display: flex; /* Изменяем отображение на мобильных устройствах на flex */
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
  }
}

@media (max-width: 1130px) {
  .popup-container {
    max-width: 90%; /* Максимальная ширина окна */
  }
}





@media (max-width: 1130px) {
  .lessons-table {
    margin-top: 20px; /* Добавляем отступ сверху для разделения описания и таблицы */
  }
  
  .lessons-table thead {
    display: none; /* Скрываем заголовок таблицы */
  }
  .lessons-table td {
    display: block; /* Превращаем ячейки таблицы в блочные элементы */
  }
  .lessons-table td:first-child {
    margin-bottom: 10px; /* Отступ между видео и описанием */
  }
  .video-container {
    width: 100%; /* Растягиваем видео на всю ширину окна */
  }
  .opisanie-video{
    width: 100%;
  }

}
@media (max-width: 1130px) {
  .radio-buttons-container {
    flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку */
    align-items: flex-start; /* Выравнивание элементов по левому краю */
  }

  .radio-button {
    width: calc(50% - 12px); /* Распределение кнопок по два в ряду */
    margin-right: 24px; /* Добавляем отступ между кнопками */
    margin-bottom: 8px; /* Уменьшаем отступ между строками */
  }

  .radio-button:nth-child(2n) {
    margin-right: 0; /* Убираем правый отступ у каждой второй кнопки */
  }

  .radio-button__label {
    font-size: 14px; /* Уменьшаем размер шрифта */
    padding-left: 20px; /* Уменьшаем отступ слева */
  }

  .radio-button__custom {
    width: 16px; /* Уменьшаем размер кастомного элемента */
    height: 16px;
  }
  .radio-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start; /* Выравнивание по левому краю */
  }
  .star{
    width: 60px;
    position: absolute;
    left: 20px;
    top: 20px;

  
  }
  .star1{
    display: none;
  }
  .lenta1,  .lenta2,  .lenta4{
    display: none;
  }
  .star-accordion{
    display: none;
  }

}













@media (max-width: 1130px) {

  .popup-close {
    right: 10px;
    font-size: 30px;
    opacity: 1;
  }
}
@media (max-width: 1130px) {
  .course-image-container {
    max-width: 100%;
    overflow: hidden;
  }
  .course-image {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media (max-width: 1130px) {
  .course-container {
    justify-content: flex-start; /* Изменяем выравнивание для мобильных устройств */
  }
  .course-gallery-item {
    margin: 10px 5px; /* Уменьшаем отступы между элементами для мобильных устройств */
  }
}
@media (max-width: 1130px) {
  .contacts-container {
      flex-direction: column;
  }

  .contacts-info,
  .contact-form {
      width: 100%;
      margin-bottom: 30px;
  }

  .social-icons {
      text-align: center;
  }

  .social-icons a {
      margin-right: 10px;
  }
}

@media (max-width: 1130px) {

    .about-us {
        gap: 24px;
    }
}
@media (max-width: 1130px) {


    .about-us {
        grid-template-columns: 1fr;
    }

    .about-us__desc {
        gap: 18px;
    }
    .course__title2{
      font-size: 50px;
      font-weight: 500;
      margin-top: 0px;
      margin-left: 0;
    }
    .contact-p{
      font-size: 16px;
      margin-left: 0px;
      max-width: 100%;
    }
    .pismo,    .pismo2,    .pismo1{
      display: none;
    }
    .mark,     .mark1   , .mark2,.mark3,.mark11{
      display: none;
    }

}
@media (max-width: 820px) {
    .value {
      padding: 32px 16px;
      padding-right: 8px;
    }
    .controls #LeftBtn, .controls #RightBtn{
        display: none;
      }
  }
  @media (max-width: 1184px) {
    .container-right {
      padding-left: var(--container-padding);
  
  
    }

  }

  @media (max-width: 1130px) {
    /* Секция */
    .donate-section {
      flex-direction: column; /* Меняем направление на столбец */
      align-items: flex-start; /* Выравниваем элементы по левому краю */
      padding: 0; /* Убираем внутренний отступ */
      border: none; /* Убираем границу */
      border-radius: 30px; /* Убираем радиус скругления */
      z-index: 0; /* Убираем z-index */
    }
  
    /* Картинки */
    .card1, .card2 {
      display: none; /* Скрываем картинки на телефоне */
    }
  
    /* Контейнер с информацией о пожертвованиях */
    .donate-container {
      width: 100%; /* Растягиваем на всю ширину */
      padding: 20px 20px; /* Устанавливаем отступы */
    }
  
    /* Информация о пожертвованиях */
    .donate-info {
      margin-bottom: 0; /* Убираем отступ снизу */
    }
  
    /* Заголовок */
    .course_title3 {
      font-size: 1.8em; /* Увеличиваем размер заголовка */
      margin-bottom: 10px; /* Добавляем отступ снизу */
    }
  
    /* Текст о пожертвованиях */
    .donate-p {
      font-size: 14px; /* Уменьшаем размер текста */
      padding-top: 0; /* Убираем отступ сверху */
    }
  
    /* Номера карт */
    .card-numbers {
      margin-top: 20px; /* Добавляем отступ сверху */
    }
  
    /* Блок с описанием использования средств */
    .donation-usage {
      width: 100%; /* Растягиваем на всю ширину */
      margin: 0; /* Убираем отступы */
      margin-top: 20px; /* Добавляем отступ сверху */
      padding: 20px 40px; /* Устанавливаем отступы */
      z-index: 0; /* Убираем z-index */
    }
  
    /* Заголовок блока */
    .donation-usage h2 {
      font-size: 1.6em; /* Уменьшаем размер заголовка */
    }
  
    /* Список */
    .custom-list {
      margin-left: 0; /* Убираем сдвиг списка влево */
    }
  
    /* Элементы списка */
    .custom-list li {
      padding-left: 0; /* Убираем отступ слева */
      background-color: #f1f5ff; /* Добавляем фон */
      border-radius: 10px; /* Добавляем радиус скругления */
      margin-bottom: 10px; /* Добавляем отступ снизу */
      padding: 10px; /* Добавляем отступы */
    }
    .custom-list li {
      padding-left: 20px;
    }
    .custom-list li::before {
      margin-left: -10px;
    }
  
    /* Псевдоэлемент перед элементами списка */
    .custom-list li::before {
      background-size: 16px; /* Уменьшаем размер изображения */
    }
  }
  
  